@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&family=Space+Grotesk&display=swap');


*, ::before, ::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 65.5%;
}

:root {
   --dark-blue: #1C1939;
   --background: #ced3e0;
   --green: #26B81B;
   --red:  #cb2121;
   --azur : #528AAE;
   --indigo-clair: #b9c4ef;
   --indigo: #6883f5;
   --blue-grey: #b9c2d8;
}



body {
   width: 100%;
   height: 100vh;
   background: var(--background);
   font-family: 'Space Grotesk', sans-serif;
   color: var(--dark-blue);
}