@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&family=Space+Grotesk&display=swap');


/* Variables Font */
$font-family:  'Space Grotesk', sans-serif;



/* Variables Colors */

$dark-blue: #1C1939;
$mid-blue: hsl(230, 30%, 12%);
$background: #ced3e0;
$green: #26B81B;
$red:  #cb2121;
$azur : #528AAE;
$indigo-clair: #b9c4ef;
$indigo: #6883f5;
$blue-grey: #b9c2d8;
