@import 'variables';

*, ::before, ::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 65.5%;
}

body {
   width: 100%;
   height: 100vh;
   background: $background;
   font-family: $font-family;
   color: $dark-blue;
}