.container {
  background: var(--blue-grey);
  padding: 15px;
  border-radius: 10px;
  width: 900px;
  max-width: 90%;
  margin: 100px auto 0;

  .sentenceToWrite {
    margin: 20px 10px;
    font-size: 2rem;
  }

  .test-sentence {
    background-color: transparent;
    border: 2px solid var(--dark-blue);
    font-size: 3rem;
    width: 100%;
    resize: none;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 3px;
    outline: none;
  }

  .correct {
    color: var(--green);
  }

  .incorrect {
    color: var(--red);
    text-decoration: underline;
  }
}
